import requests
from bs4 import BeautifulSoup

url = "https://www.pepper.ru/"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
}

page = requests.get(url, headers=headers)

if page.status_code == 200:
    soup = BeautifulSoup(page.text, "html.parser")

    items = soup.find_all("article")
    for item in items:
        name = item.find("a", class_="visited:text-secondary-text-light dark:visited:text-secondary-text-dark group-hover:!text-primary")
        name = name.text.strip() if name else "Название не найден"
        price = item.find("div", class_="md:text-base text-sm text-secondary-text-light dark:text-secondary-text-dark")
        price = price.text.strip() if price else "Скидки нет"
        print(f"Название: {name}")
        print(f"Скидка: {price}")
        print("-"*20)
